.largeYellow {
  width: 100%;
  background-color: #eead1a;
  border-color: white;
  color: white;
}
.largeDarkYellow {
  width: 100%;
  background-color: #b38212;
  border-color: white;
  color: white;
}
.largePurple {
  width: 100%;
  background-color: #45236b;
  border-color: white;
  color: white;
}

.dangerButton {
  background-color: rgb(183, 5, 5);
}
.greenButton {
  background-color: rgb(15, 137, 15);
}
.largeDarkPurple {
  width: 100%;
  background-color: #2e0f52;
  border-color: white;
  color: white;
}
.outline-yellow {
  color: #b38212;
  border-color: #b38212;
}

.outline-yellow:hover {
  color: white;
}

.info {
  border-color: #347571;
  color: white;
  background-color: #347571;
}

.info:hover {
  color: #347571;
  background-color: white;
  border-color: #347571;
}

.largeCyan {
  width: 100%;
  background-color: #5cb8b2;
  border-color: white;
  color: white;
}

.largeWhite {
  width: 100%;
  background-color: white;
  border-color: #6a4593;
  color: #6a4593;
}
.largeDarkCyan {
  width: 100%;
  background-color: #347571;
  border-color: #6a4593;
  color: white;
}

.invoiceButtons {
  padding-top: 0.5%;
  width: 100%;
}
.buttonContainer {
  padding-bottom: 0%;
}
.buttonContainerAlt {
  justify-content: space-between;
}
.modalButtons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.buttonNormal {
  background-color: #5cb8b2;
  color: white;
}
.buttonSample {
  background-color: #eead1a;
  color: white;
}
.buttonBooking {
  background-color: #2e0f52;
  color: white;
}
.yellowDrop {
  background-color: #5cb8b2;
  width: 50%;
}

.yellowDropOp {
  background-color: #eead1a;
  width: 100%;
}

.hiddenButton {
  width: "1%";
  background-color: #6a4593;
  border-color: #6a4593;
}

.switch {
  width: 10%;
  height: auto;
}

.purple {
  background-color: white;
  color: #6a4593;
  border-color: white;
}

.purple:hover {
  background-color: #2e0f52;
  color: white;
  border-color: #6a4593;
}
