.invoicePage {
  justify-content: center;
  width: 70mm;
  text-align: center;
  padding-top: 10mm;
  margin: 1mm;
  padding-left: 25px;
  font-size: small;
  background-color: white;
  font-stretch: extra-condensed;
  line-height: 1;
  color: black;
}
.invoicePageStart {
  justify-content: center;
  width: 70mm;
  text-align: start;
  padding-top: 10mm;
  margin: 1mm;
  padding-left: 25px;
  font-size: small;
  background-color: white;
}
.invoiceStart {
  text-align: start;
}
.simpleSeparator {
  padding: 1.5mm;
}

.textWithLine {
  border: solid;
  border-bottom-width: 0.1mm;
  border-top-width: 0mm;
  border-left-width: 0mm;
  border-right-width: 0mm;
  border-color: black;
}

.leftText {
  text-align: left;
}

.ProductLeft {
  width: 25%;
  text-align: right;
}
.smallProductLeft {
  width: 15%;
  text-align: right;
}
.xsmallProductLeft {
  width: 10%;
  text-align: right;
}
.smallProductRight {
  width: 20%;
  text-align: left;
}
.largeProduct {
  width: 35%;
  text-align: left;
  padding-left: 2%;
}

.totals {
  text-align: left;
  width: 50%;
}

.totalsData {
  text-align: right;
  width: 100%;
}
.tablaTotales {
  width: 100%;
}
.cufWidth {
  max-width: 75mm;
  text-align: center;
}
.noteTable {
  text-align: start;
}

.tickBox {
  top: 0;
  border: 1px solid black;

  border-left: 1px solid black;
  width: 15px;
  height: 15px;
}

.signatureLine {
  border-top: 1px solid black;

  margin-bottom: 1rem;
}
.ready {
  margin-bottom: 4rem;
}

.centerContainer {
  justify-content: center;
  align-items: center;
}
.invoiceProduct {
  font-stretch: extra-condensed;
  line-height: 1;
  font-size: smaller;
}

.rowSeparator {
  text-align: start;
  border: solid;
  border-color: rgb(178, 177, 177);
  border-left-width: 0mm;
  border-right-width: 0mm;
  border-top-width: 0.1mm;
  border-bottom-width: 0.1mm;
  padding: 1mm;
}

.rowSeparatorAlt {
  text-align: center;
  border: solid;
  border-color: rgb(178, 177, 177);
  border-left-width: 0mm;
  border-right-width: 0mm;
  border-top-width: 0.1mm;
  border-bottom-width: 0.1mm;
  padding: 1mm;
}
