$sidebar-bg-color: white;
$sidebar-color: #6a4593 !default;
$submenu-bg-color: white !default;
$icon-bg-color: white !default;
$sidebar-width: 100% !default;
$sidebar-collapsed-width: 30% !default;
$icon-size: 35px !default;
$submenu-bg-color-collapsed: white !default;
@import "~react-pro-sidebar/dist/scss/styles.scss";
