.tableOne {
  padding-top: 3%;
  overflow-x: auto;
  width: 100%;
}

.tableOneAlt {
  margin-top: 1rem;

  overflow-x: scroll;
}

.tableHeader {
  position: sticky;
  top: 0;
  background-color: #5cb8b2;
  color: white;
  border-color: #6a4593;
  border-width: 2px;
  text-align: start;
}
.tableHeaderCenter {
  position: sticky;
  top: 0;
  background-color: #5cb8b2;
  color: white;
  border-color: #6a4593;
  border-width: 2px;
  text-align: center;
}

.tableFoot {
  position: sticky;
  bottom: 0;
  background-color: #5cb8b2;
  color: white;
  width: 100%;
  border-color: #6a4593;
}

.tableFootAlt {
  background-color: #5cb8b2;
  color: white;
  border-color: #6a4593;
  border-width: 2px;
}

.tableRow {
  color: #6a4593;
  text-align: start;
  border-color: #6a4593;
  border-width: 2px;
  background-color: white;
}

.tableColumn {
  width: 18%;
  padding-left: 1%;
}

.tableColumnMedium {
  width: 10%;
  padding-left: 1%;
  text-align: center;
}

.tableColumnMediumDyn {
  width: 10%;
  padding-left: 1%;
  text-align: center;
  background-color: #5cb8b2;
}

.tableColumn:hover {
  background-color: #6945937c;
  color: white;
}

.tableColumnSmall {
  width: 3%;
}

.tableColumnSmallInv {
  background-color: #6a4593;
  width: 2%;
}

.tableButton {
  background-color: #eead1a;
  color: white;
}
.tableButtonAlt {
  color: white;
  font-size: small;
  background-color: rgb(183, 4, 4);
  outline-color: red;
}
.tableInput {
  width: 100%;
}
.smallRow {
  width: 30%;
}
.tableHalf {
  padding-bottom: 0%;
  padding-top: 2%;
}
.tableColumnTotal {
  color: white;
  text-align: end;
}
.tableColumnTotalData {
  color: white;
  text-align: center;

  background-color: blue;
}

.tableColumnSmallInv {
  background-color: #6a4593;
  border-color: #6a4593;
}

.tableColumnInv {
  background-color: #6a4593;
  border-color: #6a4593;
}
.padded {
  display: flex;
  border-color: #6a4593;
}

.totalColumnText {
  font-weight: bold;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #5cb8b2;
  width: 16%;
  text-align: center;
}

.totalColumnBlank {
  background-color: #6a4593;
  width: 71%;
}
.totalColumnData {
  font-weight: bold;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  color: #5cb8b2;

  background-color: white;
  width: 13%;
  text-align: center;
}

.totalColumnOrder {
  width: 85%;
  text-align: end;
}

.specialDiscountHeader {
  text-align: center;
  font-weight: 600;
  background-color: #6a4593;
  color: white;
}

.smallTableCol {
  width: 4%;
}

.mediumTableCol {
  width: 10%;
}

.largeTableCol {
  width: 40%;
}

.headerCol {
  background-color: white;
  text-align: center;
  width: 68%;
}
.thinTable {
  width: 40%;
}
.thinTableContainer {
  justify-content: center;
  align-items: center;
}
.wrappedButton {
  margin: 2rem;
}

.simpleTableContainer {
  margin-top: 2rem;
  width: 100%;
  display: block;
  overflow-y: auto;
  overflow-x: auto;
  height: 70vh;
}

.simpleTable {
  width: 100%;
}

.columnButton {
  width: 10%;
}

.tableHeaderAlt {
  position: sticky;
  top: 0;
  background-color: #493065;
  color: white;

  text-align: start;
}

.tableHeaderYellow {
  background-color: #6a4593;
  color: rgb(255, 255, 255);
}

.tableRowSimple {
  background-color: rgb(224, 222, 222);
  color: #492f67;
}

@media (max-width: 700px) {
  .tableOne {
    padding-top: 3%;
    overflow-x: auto;
    max-width: 700px;
    min-width: 320px;
  }
  .smallTableColumn {
    max-width: 25px;
    font-size: x-small;
  }
  .smallTableColumnalt {
    max-width: 10px;
    font-size: x-small;
  }
  .smallInput {
    font-size: x-small;
  }
  .tableButtonAlt {
    color: white;
    font-size: x-small;
    background-color: rgb(183, 4, 4);
    outline-color: red;
  }
}

.selectMargin {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tableScroll {
  max-height: 70vh;
  overflow-y: auto;
}
